<h1>Welcome</h1>
<br/>

<h3>Welcome to Taylor University's Game Contest Server!</h3>

<p>Taylor University's game contest server is designed to be a website that allows professors to host contests for various games, such as checkers, chess, and battleships. Students will then be able to develop and submit automated players for these games, and determine who can program the best player!
