<% if player_match.nil? %>
<li>
	<% if player_match.match.manager_type == "Tournament" %>
		<%= link_to player_match.match.manager_type+' '+player_match.match.earliest_start.month.to_s+'-'+player_match.match.earliest_start.day.to_s+'-'+player_match.match.earliest_start.year.to_s, match_path(player_match.match) %>
	<% else %>
		<%= link_to player_match.match.manager_type+' Challenge'+player_match.match.earliest_start.month.to_s+'-'+player_match.match.earliest_start.day.to_s+'-'+player_match.match.earliest_start.year.to_s , match_path(player_match.match) %>
	<%end%>
	(<%= player_match.result %>)
</li>
<% end %>
