<% if !player_match.nil? %>
<li>
	<%= link_to player_match.match.manager_type+' '+player_match.match.earliest_start.month.to_s+'-'+player_match.match.earliest_start.day.to_s+'-'+player_match.match.earliest_start.year.to_s, match_path(player_match.match) %>
	<% if player_match.result.nil? %>
		( waiting )
	<% else %>
	 	(<%= player_match.result %>)
	<% end %>
</li>
<% end %>
