<% if !player_match.nil? %>
	<% @tmp = [] %>
	<% player_match.match.players.each do |p|%>
		<% @tmp << p.name %>
	<% end %>

    <li>
	<%= link_to @tmp.to_sentence, match_path(player_match.match) %>
	<% if player_match.result.nil? %>
		(Waiting)
	<% else %>
	 	(<%= player_match.result %>)
	<% end %>
    </li>


<% end %>

