$brand-primary: #939934;  // dark green
$brand-success: #c7cc82;  // light green
$brand-info:    #7da0ff;  // bright blue

$body-bg:       #fff3bc;  // pale blue
$text-color:    #82a9cc;  // ivory

@import "bootstrap";

.field_with_errors {
    @extend .form-group;
    @extend .has-error;
}
