<div class='alert alert-success'>
    <strong>Success!</strong> This is more text.
</div>

<div class='alert alert-info'>
    <strong>Info!</strong> This is more text.
</div>

<div class='alert alert-warning'>
    <strong>Warning!</strong> This is more text.
</div>

<div class='alert alert-danger'>
    <strong>Danger!</strong> This is more text.
</div>

<br>

<p>
    <button type='button' class='btn btn-default'>Default</button>
    <button type='button' class='btn btn-primary'>Primary</button>
    <button type='button' class='btn btn-success'>Success</button>
    <button type='button' class='btn btn-info'>Info</button>
    <button type='button' class='btn btn-warning'>Warning</button>
    <button type='button' class='btn btn-danger'>Danger</button>
</p>

<br>
